[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
python-dotenv = "*"
drf-spectacular = "*"
drf-nested-routers = "*"
django-filter = "*"
django-cors-headers = "*"
firebase-admin = "==6.8.0"
google-auth = "*"

[dev-packages]

[requires]
python_version = "3.12"
